<?xml version='1.0' encoding='utf-8'?>
<widget id="com.stpro.jardinpots" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ST-PRO Jardin &amp; Pots</name>
    <description>Application de gestion des interventions d'entretien de jardins et pots de fleurs - ST-PRO Niamey Niger</description>
    <author email="stpro8481@gmail.com" href="mailto:stpro8481@gmail.com">
        ST-PRO Services Techniques Professionnels
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- Préférences globales -->
    <preference name="Orientation" value="portrait" />
    <preference name="StatusBarBackgroundColor" value="#0284c7" />
    <preference name="StatusBarStyle" value="lightcontent" />

    <!-- Icône globale -->
    <icon src="www/icons/icon-512.png" />

    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="AndroidXAppName" value="ST-PRO Pressing" />
    </platform>
</widget>
